{% extends 'hotspot/v2/base.html' %}
{% block title %}Example SMS login{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='hotspotv2/css/sms_form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='hotspot/css/intlTelInput.css') }}">
    <script src="{{ url_for('static', filename='hotspot/js/jquery-1.12.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='hotspot/js/intlTelInput.min.js') }}"></script>
{% endblock %}

{% block header_pre %}
       <a href="{{ url_for('sms_request_form', lang='ru', identity=hotspot.identity,  mac=mac, target=target, preview=preview) }}" class="lang_switch">RU</a>
{% endblock %}

{% block content %}
    <div class="pure-u-sm-0 pure-u-1-5"></div>
    <div class="pure-u-sm-1 pure-u-3-5">
    <div id="wrapper">
        <div id="inner_wrapper">
            <div id="getsms" class="innerdiv">
                <form action="{{ url_for('sms_request_form', identity=hotspot.identity, mac=mac, target=target) if not preview else '#'}}" method="POST">
                    <p> In order to get Wi-Fi access please <br> login through SMS verification system. </p>
                    <input type="tel" name="phone" id="phone" hidden>
                    <input id="phone_in" name="phone_in" type="tel" class="inputbox" autofocus>
                    <button type="submit" id="getsmsbutton" class="pure-u-1 pure-button button-sms buttoncenter" 
                    onclick="var pval = $('#phone_in').intlTelInput('getNumber'); $('#phone').val(pval); document.forms[0].submit()">Get SMS code</button>
                </form>
                <a id="estkod_nadpis" href="{{ url_for('sms_code_form', identity=hotspot.identity, mac=mac, target=target) if not preview else '#'}}">Already have a code?</a>
                <p id="agreement"> By pressing "Get SMS code" button, <br> you are agreeing with <br> <a href="{{ url_for('agreement') }}">User agreement</a> <br>
                According to decree of Russian Federation
                from <br> 31.07.2014 №758 and 12.08.2014 №801 </p>            
            </div>
        </div>
    </div> 
{% endblock %}
{% block postbody %}
<script>
    $('#phone_in').intlTelInput(
        {
            utilsScript: "{{ url_for('static', filename='hotspot/js/utils.js') }}",
            initialCountry: "ru",
            autoPlaceholder: true,
            separateDialCode: true,
            preferredCountries: ['ru', 'ua', 'by', 'kz', 'am', 'ge', 'tj', 'tm', 'uz']
        }
    );

</script>
{% endblock %}