<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='hotspotv2/css/pure-min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='hotspotv2/css/agreement.css') }}">
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='hotspot/css/pure-min.css') }}">
</head>
<body>
<div id="wrapper"> 
	<p> <span> User Agreement </span> <br>
		Подключаясь к сети интернет данного заведения, Вы подтверждаете, что Вам исполнилось 18 лет, и принимаете на себя указанные ниже обязательства, связанные с использованием беспроводной сети интернет; подтверждаете свое согласие на обработку и использование своих персональных данных, передаваемых при использовании настоящей услуги. <br> <br>
		В соответствии законодательством Российской Федерации запрещается загружать, хранить, публиковать, распространять и предоставлять доступ или иным образом использовать любую информацию, которая:
		<ol>
		    <li> содержит угрозы, дискредитирует, оскорбляет, порочит честь и достоинство или деловую репутацию или нарушает неприкосновенность частной жизни третьих лиц; </li>
		    <li> нарушает права несовершеннолетних; </li>
		    <li> является вульгарной или непристойной, содержит порнографические изображения и тексты или сцены сексуального характера с участием несовершеннолетних; </li>
		    <li> содержит сцены бесчеловечного обращения с животными; </li>
		    <li> содержит описание средств и способов суицида, любое подстрекательство к его совершению; </li>
		    <li> пропагандирует и/или способствует разжиганию расовой, религиозной, этнической ненависти или вражды, пропагандирует фашизм или идеологию расового превосходства; </li>
		    <li> содержит экстремистские материалы; </li>
		    <li> пропагандирует преступную деятельность или содержит советы, инструкции или руководства по совершению преступных действий; </li>
		    <li> содержит информацию ограниченного доступа, включая, но не ограничиваясь, государственной и коммерческой тайной, информацией о частной жизни третьих лиц; </li>
		    <li> содержит рекламу или описывает привлекательность употребления наркотических веществ, в том числе «цифровых наркотиков» (звуковых файлов, оказывающих воздействие на мозг человека за счет бинауральных ритмов), информацию о распространении наркотиков, рецепты их изготовления и советы по употреблению; </li>
		    <li> носит мошеннический характер. </li>
	    </ol> 
	</p>
	<p>
		Пользователь несет административную и уголовную ответственность за действия противоправного характера осуществляемые с использованием сети Интернет.
		В целях исполнения положений постановления Правительства № 758 от 31.07.2014 и № 801 от 12.08.2014, пользователь, прошедший идентификацию посредством SMS, обязуется сообщать о смене своего мобильного номера по электронному адресу: <a href="mailto:support@example.com"> support@example.com </a>
	</p>
	<button action="action" onclick="history.go(-1);" id="nazad" class="pure-u-1 pure-button button-sms buttoncenter"> Назад </button>
</div>
</body>
