<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='hotspotv2/css/pure-min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='hotspotv2/css/agreement.css') }}">
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='hotspot/css/pure-min.css') }}">
</head>
<body>
<div id="wrapper"> 
	<p> <span> User Agreement </span> <br>
		By connecting to the Internet of this institution, you certify that you are 18 years old, and accept the following obligations related to the use of Wi-Fi; Also you accept to the processing and use of your personal data transmitted when using this service. <br> <br>
		According with the legislation of Russian Federation it is prohibited to download, store, publish, distribute, and provide access or otherwise use any information that:
	<ol>
		<li> Contains threats, discredits, offends, denigrates the honor and dignity or business reputation or violates the privacy of third parties; </li>
		<li> Violates the rights of minors; </li>
		<li> Is vulgar or obscene, contains pornographic images and texts or scenes of a sexual nature involving minors; </li>
		<li> Contains scenes of inhumane treatment of animals; </li>
		<li> Contains a description of the means and methods of suicide, any incitement to commit it; </li>
		<li> Promotes and/or fueling racial, religious, ethnic hatred or enmity, or promotes fascism ideology of racial superiority; </li>
		<li> Contains extremist material; </li>
		<li> Promotes criminal activity or contains tips, instructions or guidelines for the commission of criminal acts; </li>
		<li> Contains restricted information, including, but not limited to, state and commercial secrets, information about the private life of third parties; </li>
		<li> Contains advertising or describes the attraction of drug use, including "digital drugs" (audio files that have an impact on the human brain due to binaural beats), information on the distribution of drugs, their manufacture recipes and tips for use; </li>
		<li> Has fraudulent character </li>
	</ol>
</p>
<p>
	This user has administrative and criminal liability for the actions undertaken by the wrongful usage of the Internet.
	In order to fulfill the provisions of the Government Decision № 758 of 31.07.2014 and of 12.08.2014 № 801, a user authentication passed through SMS authentification, undertakes to report the change of your mobile phone number to the email address: <a href = "mailto: support@example.com"> support@example.com </a>
</p>
	<button action="action" onclick="history.go(-1);" id="nazad" class="pure-u-1 pure-button button-sms buttoncenter"> Go back </button>
</div>
</body>



