a.lang_switch {
    display: block;
    margin: auto;
    border: 1px solid #ddd;
    max-width: 2em;
    text-align: center;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    color: black;
    background-color: #ddd;
    text-decoration: none;
}